<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Curso Vue</title>
    
</head>
<body class="bg-slate-900">
    <div id="app"></div>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    text: "Puerta Cerrada",
                    open: false,
                    username: "",
                    posts: [{
                        title: "Titulo 1",
                        description: "Lorem ipsum..."
                    }]
                };
            },
            watch:{
                open(value) {
                    if (value){
                        this.text = "Puerta Abierta"
                    } else{
                        this.text = "Puerta Cerrada"
                        this.username = ""
                    }
                }
            },
            computed:{
                label() {
                    return this.open ? "Cerrar" : "Abrir";
                },
                styles() {
                    return this.open ? ['open'] : ['closed'];
                }
            },
            methods: {
                
            },
            template: `
            <div class="container" :class="styles">
                <h2>{{ text }}</h2>

                <div v-if="open">
                    <h2 class="headline-2">Hola, {{ username }}<p>

                    <div class="post" v-for="(item, i) in posts">
                        <h3 class="post-title">{{ item.title}}</h3>
                        <p class="post-description ">{{ item.description}}</p>
                    </div>
                </div>

                <div v-else> 
                    <div>Username</div>
                    <input type="text" v-model="username" placeholder="@username">    
                </div>
                    
                <form v-if="open" v-on:submit.prevent="submit">
                    <input type="text" placeholder="Titulo">
                    <input type="text" placeholder="Descripción">
                    <button >Publicar</button>
                </form>


                <button @click="open = !open">
                    <div v-if="!open">Acceder</div>    
                    <div v-else>Salir</div>    
                </button>
            </div>
            `
        }).mount("#app");
        console.log(vm);
    </script>
</body>
</html>