<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Curso Vue</title>
    
</head>
<body>
    <div id="app"></div>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    text: "Puerta Cerrada",
                    open: false,
                    username: ""
                };
            },
            watch:{
                open(value) {
                    if (value){
                        this.text = "Puerta Abierta"
                    } else{
                        this.text = "Puerta Cerrada"
                        this.username = ""
                    }
                }
            },
            computed:{
                label() {
                    return this.open ? "Cerrar" : "Abrir";
                },
                styles() {
                    return this.open ? ['open'] : ['closed'];
                }
            },
            template: `
            <div class="container" :class="styles">
                <h2>{{ text }}</h2>

                <div v-if="open">
                    <p>Hola, {{ username }}<p>
                </div>

                <div v-else> 
                    <div>Username</div>
                    <input type="text" v-model="username">    
                </div>

                <button @click="open = !open">
                    <div v-if="!open">Acceder</div>    
                    <div v-else>Salir</div>    
                </button>
            </div>
            `
        }).mount("#app");
        console.log(vm);
    </script>
</body>
</html>